
<div> 
	<div class="sidebar close">

		<div class="logo-details">
			<!-- <img src="assets/logo.png" class="logo-img"> -->
			<span class="logo_name"></span>
		</div>
		<ul class="nav-links">
		  <li>
			<a routerLink="/dashboard" >
			  <i class='bx bx-grid-alt' ></i>
			  <span class="link_name">Dashboard</span>
			</a>
			<ul class="sub-menu blank">
			  <li><a class="link_name" routerLink="/dashboard" >Dashboard</a></li>
			</ul>
		  </li>
		  <li>
			<a routerLink="/rapport">
			  <i class='bx bx-grid-alt' ></i>
			  <span class="link_name">Rapport</span>
			</a>
			<ul class="sub-menu blank">
			  <li><a class="link_name"routerLink="/rapport">Rapport</a></li>
			</ul>
		  </li>
		  <li class="active">
			<div class="iocn-link">
			  <a routerLink="/vente">
				<i class='bx bx-collection' ></i>
				<span class="link_name">ventes</span>
			  </a>
			  <i class='bx bxs-chevron-down arrow' ></i>
			</div>
			<ul class="sub-menu">
			  <li><a class="link_name" routerLink="/vente">ventes</a></li>
			  <li> <a routerLink="/vente/facturesclients">Factures clients</a></li>
			  <li><a routerLink="/vente/devis">Devis</a></li>
			</ul>
		  </li>
		  <li>
			<div class="iocn-link">
			  <a routerLink="/achat">
				<i class='bx bx-book-alt' ></i>
				<span class="link_name">achats</span>
			  </a>
			  <i class='bx bxs-chevron-down arrow' ></i>
			</div>
			<ul class="sub-menu">
			  <li><a class="link_name" routerLink="/achat" >achats</a></li>
			  <li><a  routerLink="/achat/facturesfournisseur" >Factures fournisseur</a></li>
			  <li><a  routerLink="/achat/facturesconsultants" >Factures consultant</a></li>
			  <li><a routerLink="/achat/facturesfournisseur">Devis</a></li>
			</ul>
		  </li>
		  <li>
			<a routerLink="/clients">
			  <i class='bx bx-pie-chart-alt-2' ></i>
			  <span class="link_name">clients</span>
			</a>
			<ul class="sub-menu blank">
			  <li><a class="link_name" routerLink="/clients">clients</a></li>
			</ul>
		  </li>
		  <li>
			<a routerLink="/fournisseurs">
			  <i class='bx bx-line-chart' ></i>
			  <span class="link_name">fournisseurs</span>
			</a>
			<ul class="sub-menu blank">
			  <li><a class="link_name" routerLink="/fournisseurs">fournisseurs</a></li>
			</ul>
		  </li>

		  <li>
			<a routerLink="/consultants">
			  <i class='bx bx-line-chart' ></i>
			  <span class="link_name">consultants</span>
			</a>
			<ul class="sub-menu blank">
			  <li><a class="link_name" routerLink="/consultants">consultants</a></li>
			</ul>
		  </li>
		  <li>
			<a routerLink="/services">
			  <i class='bx bx-compass' ></i>
			  <span class="link_name">services</span>
			</a>
			<ul class="sub-menu blank">
			  <li><a class="link_name" routerLink="/services">services</a></li>
			</ul>
		  </li>
		  <li>
			<div class="iocn-link">
			  <a routerLink="/achat">
				<i class='bx bx-book-alt' ></i>
				<span class="link_name">Comptabilité</span>
			  </a>
			  <i class='bx bxs-chevron-down arrow' ></i>
			</div>
			<ul class="sub-menu">
			  <li><a class="link_name" routerLink="/achat" >Comptabilité</a></li>
			  <li><a routerLink="/comptabilite/tresorerie" >gestion de la trésorerie</a></li>
			  <li><a routerLink="/comptabilite/comptebancaire">compte bancaire</a></li>
			  <li><a routerLink="/comptabilite/chequetraite">chéque et traite</a></li>
			</ul>
		  </li>
		  <li>
			<a routerLink="/stock">
			  <i class='bx bx-cog' ></i>
			  <span class="link_name">stock</span>
			</a>
			<ul class="sub-menu blank">
			  <li><a class="link_name" routerLink="/stock">stock</a></li>
			</ul>
		  </li>
	
		  <li>
			<a routerLink="/admin">
			  <i class='bx bx-cog' ></i>
			  <span class="link_name">Setting</span>
			</a>
			<ul class="sub-menu blank">
			  <li><a class="link_name" routerLink="/admin">Setting</a></li>
			</ul>
		  </li>
	
		  <li>
		
	  </li>
	</ul>
	  </div>
	  <section class="home-section">
		<div class="home-content">
		  <i class='bx bx-menu' ></i>
		</div>
	  </section>
		  
		 
</div>