<div #invoiceContainer>
  <div class="py-4">
      <div class="px-14 py-6">
        <table class="w-full border-collapse border-spacing-0">
          <tbody>
            <tr>
              <td class="w-full align-top">
                <div>
                  <img src="assets\logo.png" />       </div>
              </td>
  
              <td class="align-top">
                <div class="text-sm">
                  <table class="border-collapse border-spacing-0">
                    <tbody>
                      <tr>
                        <td class="border-r pr-4">
                          <div>
                            <p class="whitespace-nowrap text-slate-400 text-right">Date</p>
                            <p class="whitespace-nowrap font-bold text-main text-right">{{currentDate|date}}</p>
                          </div>
                        </td>
                        <td class="pl-4">
                          <div>
                            <p class="whitespace-nowrap text-slate-400 text-right">Ref_facture #</p>
                            <input type="text" class=" font-bold text-main text-right" name="ref_facture"[(ngModel)]="ref_facture" placeholder="entrer la ref"/>
                          </div>
                          </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class=" px-14 py-6 text-sm">
        <table class="w-full border-collapse border-spacing-0">
          <tbody>
            <tr >
              <td class="w-1/2 align-top">
                <div class="text-sm text-neutral-600">
                  <p class="font-bold">détails du client </p>
                  <label>Nom_client:</label>
                  <select [(ngModel)]="selectedClientId" (change)="onClientChange()">
                    <option *ngFor="let client of clientList" [value]="client.idc">{{ client.nom }} {{ client.prenom }}</option>
                  </select><br>
  <label >Email:</label>
  {{ selectedClient?.adresse_mail }}<br>
  <label>Adresse:</label>
  {{ selectedClient?.lieu_hab }}<br>
  <label>Num_tel:</label>
  {{ selectedClient?.num_tel }}
  
                </div>
              </td>
  
              <td class="w-1/2 align-top text-right" >
                <div *ngFor="let c of data_company" class="text-sm text-neutral-600">
                  <p class="font-bold">détails de l'entreprsie</p>
                  <p>numero: +{{c.num_tel}}</p>
                  <p>email: {{c.mail}}</p>
                  <p>{{c.adresse1}}</p>
                  <p>{{c.adresse2}}</p>
                  <p>{{c.adresse3}}</p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div><br><br>
      <div class="df">
          <strong>details facture</strong> 
      </div><br>
      <div class="px-14 py-10 text-sm text-neutral-700">
        <table class="w-full border-collapse border-spacing-0">
          <thead>
             
            <tr>
              <td class="border-b-2 border-main pb-3 pl-3 font-bold text-main">Nom_service</td>
              <td class="border-b-2 border-main pb-3 pl-2 text-center font-bold text-main">activite</td>
              <td class="border-b-2 border-main pb-3 pl-2 text-center font-bold text-main">nombre</td>
              <td class="border-b-2 border-main pb-3 pl-2 text-center font-bold text-main">honoraire/h en HT</td>
              <td class="border-b-2 border-main pb-3 pl-2 text-center font-bold text-main">total Honoraire en HT</td>
  
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border-b py-3 pl-3">
                  <select name="description" [(ngModel)]="description">
                      <option>coaching</option>
                      <option>formation</option>
                      <option>profiling</option>
                  </select>
              </td>
              <td class="border-b py-3 pl-2">
                <input type="text" name="activite" [(ngModel)]="activite">
            </td>
  
              <td class="border-b py-3 pl-2">
                  <input type="number" name="nombre" [(ngModel)]="nombre">
              </td>
              <td class="border-b py-3 pl-2">
                  <input type="number" name="honoraire_h_ht" [(ngModel)]="honoraire_h_ht">
              </td>
  
              <td class="border-b py-3 pl-2">
                <input type="number" name="totale_honoraire_ht" [(ngModel)]="totale_honoraire_ht">
            </td>
  
           
           
            </tr>
              <td colspan="7">
                <table class="w-full border-collapse border-spacing-0">
                  <tbody>
                    <tr>
                      <td class="w-full"></td>
                      <td>
                        <table class="w-full border-collapse border-spacing-0">
                          <tbody>
                              <tr>
                                  <td class="border-b p-3">
                                    <div class="whitespace-nowrap text-slate-400">Net en HT:</div>
                                  </td>
                                  <td class="border-b p-3 text-right">
                                    <div class="whitespace-nowrap font-bold text-main">
                                      <input type="number" name="net_ht" [(ngModel)]="net_ht" (ngModelChange)="calculatePrixTotal()">
    
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="p-3">
                                    <div class="whitespace-nowrap text-slate-400">tva:%</div>
                                  </td>
                                  <td class="p-3 text-right">
                                    <div class="whitespace-nowrap font-bold text-main"> <input type="number" name="tva" [(ngModel)]="tva" (ngModelChange)="calculatePrixTotal()">
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="p-3">
                                    <div class="whitespace-nowrap text-slate-400">timbre_fisc:</div>
                                  </td>
                                  <td class="p-3 text-right">
                                    <div class="whitespace-nowrap font-bold text-main"> <input type="number" name="timbre_fisc" [(ngModel)]="timbre_fisc" (ngModelChange)="calculatePrixTotal()">
                                    </div>
                                  </td>
                                </tr>
  
                                <tr>
                                  <td class="bg-main p-3">
                                    <div class="whitespace-nowrap font-bold text-white"> total T.T.C:</div>
                                  </td>
                                  <td class="bg-main p-3 text-right">
                                    <div class="whitespace-nowrap font-bold text-white" >{{ total_ttc }} DT</div>
                                  </td>
                                </tr>
    
                                <tr>
                                  <td class="bg-main p-3">
                                    <div class="whitespace-nowrap font-bold text-white"> Montant_paye:</div>
                                  </td>
                                  <td class="bg-main p-3 text-right">
                                    <div class="whitespace-nowrap font-bold text-white">
                                      <input class=" font-bold text-main text-right" type="number" name="montant_paye" [(ngModel)]="montant_paye" (ngModelChange)="calculMontantRestant()">DT
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="bg-main p-3">
                                    <div class="whitespace-nowrap font-bold text-white">montant_restant:</div>
                                  </td>
                                  <td class="bg-main p-3 text-right">
                                    <div class="whitespace-nowrap font-bold text-white">{{montant_restant}} DT</div>
                                  </td>
                                </tr>
                  </tbody>
                </table>
              </td>
          </tr>
      </tbody>
    </table>
  </td>
  </tbody>
  </table>
  </div>
  
     <!-- <td class="border-b py-3 pl-2 text-center">
                  <select name="statut" [(ngModel)]="statut">
                      <option>payé</option>
                      <option>en cours</option>
                      <option>non payé</option>
                  </select>
              </td>  -->
  
  <!-- pour plus de details sur le payement -->
  <label class="pb-3 pl-3 font-bold text-main" (click)="toggleDetails()">methode_payement: </label>
  <select name="paymentMethod" [(ngModel)]="selectedPaymentMethod"> 
      <option>cache</option>
      <option>chéque</option>
    </select>
  <div  class="px-14 text-sm text-neutral-700">
   
   
    <div *ngIf="selectedPaymentMethod === 'chéque'" class="px-14 py-10 text-sm text-neutral-700">
      <table>
        <div>
        <tr>
          <td><p class="font-bold">Informations bancaires</p></td>
        </tr>
        <tr>
          <td><label for="Nom_banque">Nom_banque:</label></td>
          <td>
            <select name="Nom_service" [(ngModel)]="nom_banque">
              <option selected>BNA</option>
              <option>ATTIEJRI</option>
              <option>BZIT</option>
              <option>BEIT</option>
              <option>ALUB</option>
              <option>CFCT</option>
              <option>ABCO</option>
              <option>ATBK</option>
              <option>BCTN</option>
              <option>BFPM</option>
              <option>BTEX</option>
              <option>BFTN</option>
              <option>BIAT</option>
              <option>BNTE</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="adresse_banque">Adresse_banque:</label></td>
          <td><input type="text" name="adresse_banque" [(ngModel)]="adresse_banque" placeholder="Enter Adresse_banque"></td>
        </tr>
        <tr>
          <td><label for="titulaire_compte">Titulaire_compte:</label></td>
          <td><input type="text" name="titulaire_compte" [(ngModel)]="titulaire_compte" placeholder="Enter Titulaire_compte"></td>
        </tr>
        <tr>
          <td><label for="adresse_titulaire">Adresse_titulaire:</label></td>
          <td><input type="text" name="adresse_titulaire" [(ngModel)]="adresse_titulaire" placeholder="Enter Adresse_titulaire"></td>
        </tr>
        <tr>
          <td><label for="devise_compte">Devise_compte:</label></td>
          <td><input type="text" name="devise_compte" [(ngModel)]="devise_compte" placeholder="Enter Devise_compte"></td>
        </tr>
        <tr>
          <td><label for="IBAN">IBAN:</label></td>
          <td><input type="text" name="IBAN" [(ngModel)]="IBAN" placeholder="Enter IBAN"></td>
        </tr>
        <tr>
          <td><label for="swift_BIC">SWIFT:</label></td>
          <td><input type="text" name="swift_BIC" [(ngModel)]="swift_BIC" placeholder="Enter SWIFT"></td>
        </tr>
        <tr>
          <td><label for="num_compte">Numero_compte:</label></td>
          <td><input type="number" name="num_compte" [(ngModel)]="num_compte" placeholder="Enter Numero_compte"></td>
        </tr>
        <tr>
          <td><label for="routing">Routing:</label></td>
          <td><input type="text" name="routing" [(ngModel)]="routing" placeholder="Enter Routing"></td>
        </tr>
        <td><label>nombre de cheque:</label></td>
 
  <td> <input type="number" name="nombre_cheque" [(ngModel)]="nombre_cheque">
</td>
</div>
<tr *ngFor="let chequeNumber of getChequeNumbers(); let i = index">
<td colspan="7">
  <table class="w-full border-collapse border-spacing-0">
    <tbody>
      <tr>
        <td class="w-full"></td>
        <td>
          <table class="w-full border-collapse border-spacing-0">
            <tbody>
              <tr>
                <td class="border-b p-3">
                  <div class="whitespace-nowrap text-slate-400">cheque N°: {{ i + 1 }}</div>
                </td>
                <td class="border-b p-3 text-right">
                  <div class="whitespace-nowrap font-bold text-main"></div>
                </td>
              </tr>
              <tr>
                <td class="border-b p-3">
                  <div class="whitespace-nowrap text-slate-400">
                    montant_chéque: <input type="number" name="montant_cheque" [(ngModel)]="chequeValues[i].montant_cheque">
                  </div>
                </td>
                <td class="border-b p-3 text-right">
                  <div class="whitespace-nowrap font-bold text-main"></div>
                </td>
              </tr>
              <tr>
                <td class="border-b p-3">
                  <div class="whitespace-nowrap text-slate-400">date_versement:</div>
                </td>
                <td class="border-b p-3 text-right">
                  <div class="whitespace-nowrap font-bold text-main">
                    <input type="date" name="date_versement" [(ngModel)]="chequeValues[i].date_versement">
                  </div>
                </td>
              </tr>
              
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</td>
</tr>
  
      </table> 
    </div>
    
  </div>
  <button class="b" type="submit" (click)="addfacture_client()">ajouter facture </button>
 <!-- <div class="signature">
  Signature
 </div>  -->
      </div>
      <!-- <button (click)="printInvoice()">Print Invoice</button> -->





  </div>
  
 