.c{
  position: absolute;
  margin-top: -650px;
  margin-left: 120px;
  width: 1500px;
}
/* eeeee */
.report-container { 
  min-height: 300px; 
  max-width: 1200px; 
  margin: 70px auto 0px auto; 
  background-color: #ffffff; 
  border-radius: 30px; 
  box-shadow: 3px 3px 10px rgb(188, 188, 188); 
  padding: 0px 20px 20px 20px; 
} 
.report-header { 
  height: 80px; 
  width: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 20px 20px 10px 20px; 
  border-bottom: 2px solid #db9812a8; 
} 
  
.recent-Articles { 
  font-size: 30px; 
  font-weight: 600; 
  color: #0088C5; 
} 
  
.view { 
  height: 35px; 
  width: 90px; 
  border-radius: 8px; 
  background-color: #0088C5; 
  color: white; 
  font-size: 15px; 
  border: none; 
  cursor: pointer; 
} 

.report-body { 
  max-width: 1160px; 
  overflow-x: auto; 
  padding: 20px; 
} 
.report-topic-heading, 
.item1 { 
  width: 1120px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
} 
.t-op { 
  font-size: 18px; 
  letter-spacing: 0px; 
} 
  
.items { 
  width: 1120px; 
  margin-top: 15px; 
} 
  
.item1 { 
  margin-top: 20px; 
} 
.t-op-nextlvl { 
  font-size: 14px; 
  letter-spacing: 0px; 
  font-weight: 600; 
} 
  
.label-tag { 
  width: 100px; 
  text-align: center; 
  background-color: rgb(0, 177, 0); 
  color: white; 
  border-radius: 4px; 
}
/* pour le formulaire */


  /* pour le formulaire nom */
  
  #heading {
    text-transform: uppercase;
    color: #db9812a8;
    font-weight: normal
  }
    /* pour le formulaire  */
  
  #msform {
    text-align: center;
    position: relative;
    margin-top: 20px
  }
  
  #msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
  }
  
  .form-card {
    text-align: left
  }
  
  #msform fieldset:not(:first-of-type) {
    display: none
  }
  
  #msform input,
  #msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #cccccc44;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
  }
  
  #msform input:focus,
  #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #0088C5;
    outline-width: 0;
  
  }
  /* pour le bouton "suivant"  */
  #msform .action-button {
    width: 100px;
    background: #db9812a8;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
  }
  /* pour le hover de  bouton "suivant"  */
  #msform .action-button:hover,
  #msform .action-button:focus {
    background-color: #0088C5
  }
  /* pour le bouton "precedent"  */
  #msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
  }
  /* pour le hover du bouton "precedent"  */
  
  #msform .action-button-previous:hover,
  #msform .action-button-previous:focus {
    background-color: #000000
  }
  
  .card {
    z-index: 0;
    border: none;
    position: relative
  }
  
  .fs-title {
    font-size: 25px;
    color: #db9812a8;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
  }
  
  .purple-text {
    color: #db9812a8;
    font-weight: normal
  }
  /* pour "étape 1-4" */
  .steps {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.619);
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
  }
  /* pour les libels */
  
  .fieldlabels {
    color: rgba(0, 0, 0, 0.619);
    text-align: left
  }
  
  /* pour ls icons de la barre de progression  */
  #progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e"
  }
  
  #progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
  }
  
  #progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030"
  }
  
  #progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
  }
  /* pour la couleur de la barre de progression  */
  
  #progressbar li.active:before,
  #progressbar li.active:after {
    background: #0088C5
  }
  
  .progress {
    height: 20px
  }
  
  .progress-bar {
    background-color: #0088C5
  }
  
  
    /* pour la  progress bar  */
    #progressbar {
      margin-bottom: 30px;
      overflow: hidden;
      color: lightgrey;
      padding: 0; 
    }
    
    #progressbar li {
      list-style-type: none;
      font-size: 15px;
      width: 25%;
      float: left;
      position: relative;
      font-weight: 400;
    }
    
    #progressbar li:before {
      width: 25px;
      height: 25px;
      line-height: 25px;
      display: block;
      font-size: 14px;
      color: #ffffff;
      background: lightgray;
      border-radius: 50%;
      margin: 0 auto 5px auto;
      padding: 2px;
    }
    
    #progressbar li:after {
      content: '';
      width: 100%;
      height: 2px;
      background: lightgray;
      position: absolute;
      left: 0;
      top: 12.5px;
      z-index: -1;
    }
  
  