


<div class="back">
  <div class="container">
      <div class="screen">
          <div class="screen__content">
              <form class="login">
                <h1 >forgot your password?</h1>
                <p>Please enter your email to reset your password</p>

                  <div class="login__field">
                      <i class="login__icon fas fa-user"></i>
                      <input type="text" class="login__input" placeholder="email "  name="email" [(ngModel)]="email">
                  </div>
                 
                  <button class="button login__submit" (click)="forgotpassword()">
                      <span class="textbutton">Send Link </span>
                      <i class="button__icon fas fa-chevron-right"></i>
                  </button>				
              </form>
              <div class="social-login">
                  <div class="social-icons">
                      <button class="button forgot" routerLink="/login">
                          <span class="textbutton" >back to login</span>
                          
                      </button>	
                  </div>
              </div>
          </div>
          <div class="screen__background">
              <span class="screen__background__shape screen__background__shape4"></span>
              <span class="screen__background__shape screen__background__shape3"></span>		
              <span class="screen__background__shape screen__background__shape2"></span>
              <span class="screen__background__shape screen__background__shape1"></span>
          </div>		
      </div>
  </div>
  </div>
  
  