
<div >
	
     
	<div class="sidebar close">
		<div class="logo-details">
		  <i class='bx bxl-c-plus-plus'></i>
		  <span class="logo_name"></span>
		</div>
		<ul class="nav-links">
		  <li>
			<a routerLink="/changer_mp" >
			  <i class='bx bx-grid-alt' ></i>
			  <span class="link_name">changer mot de passe</span>
			</a>
			<ul class="sub-menu blank">
			  <li><a class="link_name" routerLink="/changer_mp" >changer mot de passe</a></li>
			</ul>
		  </li>
		  <li>
			<a routerLink="/creation_compte">
			  <i class='bx bx-grid-alt' ></i>
			  <span class="link_name">creation de compte</span>
			</a>
			<ul class="sub-menu blank">
			  <li><a class="link_name"routerLink="/creation_compte">creation de compte</a></li>
			</ul>
		  </li>
		  
          <li>
			<a routerLink="/users" >
			  <i class='bx bx-grid-alt' ></i>
			  <span class="link_name">users</span>
			</a>
			<ul class="sub-menu blank">
			  <li><a class="link_name" routerLink="/users" >users</a></li>
			</ul>
		  </li>
		  <li>
	</ul>
	  </div>
	  <section class="home-section">
		<div class="home-content">
		  <i class='bx bx-menu' ></i>
		</div>
	  </section>
		  
		 
</div>